@{
    ViewData["Title"] = "All Devices";
    Layout = "~/Views/Shared/sidemaster.cshtml";
}



<style>
    .blink {
        animation: blink-animation 1s steps(5, start) infinite;
        -webkit-animation: blink-animation 1s steps(5, start) infinite;
    }

    td.details-control {
        background: url('/assets/details_open.png') no-repeat center center;
    }

    tr.shown td.details-control {
        background: url('/assets/details_close.png') no-repeat center center;
    }

    td.details-control-inr {
        background: url('/assets/details_open.png') no-repeat center center;
    }

    tr.shown td.details-control-inr {
        background: url('/assets/details_close.png') no-repeat center center;
    }
    /*table-scrollable {
        max-height: 22.5rem;
        overflow-x: scroll;
        padding-left: 20px !important;
    }*/

    table-scrollable {
        max-height: 22.5rem;
        overflow-x: scroll;
        padding-left: 20px !important;
    }
</style>


<div class="row">

    <div class="col-xl-12 ui-sortable">
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <h4 class="panel-title">All Device Detail  &nbsp;&nbsp;</h4>
                <div class="panel-heading-btn">
                    @*<a title="Add New" class="btn btn-primary btn-icon btn-circle btn-lg"><i class="fa fa-plus"></i></a>*@
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                </div>
            </div>

            <div class="panel-body">
                <div id="tbkkk"></div>
                <div id="data-table-buttons_wrapper" class="dataTables_wrapper dt-bootstrap">
                    <div class="table-responsive" style="max-height: 28rem; overflow-x: auto; padding-left: 20px !important; position:sticky;">
                        <table id="DeviceInfo" class="table table-bordered align-middle dataTable no-footer">
                            <thead>
                                <tr>
                                    <th width="20px"></th>
                                    <th>Images</th>
                                    <th>Installed On</th>
                                    <th>Approved Person Mob.</th>
                                    <th>RD Name</th>
                                    <th>RD Mobile No</th>
                                    <th>Contact Person </th>
                                    <th>Branch  Name</th>
                                    <th>Region Name</th>
                                    <th>ASM Area</th>
                                    <th>SO Territory</th>
                                    <th>IMEI Number</th>
                                    <th>Device Type</th>
                                    <th>Email ID</th>
                                    <th>Date & Time</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal" tabindex="-1" id="SaleModalChart" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <h5 class="modal-title text-white"> WEEKLY MONITORING</h5>
                <button type="button" class="btn-close" style="border:none;" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" style="height:600px">
                        <div id="chartContainer" style="width:900px; margin:0px auto;"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-success">CLOSE </button>
            </div>
        </div>
    </div>
</div>

<div id="viewonmap" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-success text-white">
                <h3 class="modal-title">View On Map</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">
                <div id="dvIMap" style="height: 400px; width: 100%">
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-white" data-bs-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" id="ViewImageModal" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <h5 class="modal-title text-white"> IMAGE</h5>
                <button type="button" class="btn-close" style="border:none;" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-md-12">
                        <img id="imgview" src="" style="width:auto" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-success">CLOSE </button>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbDwPN59e4wcuNqJEbCd3yTq2tYOvP3JU&callback=initialize&libraries=geometry&v=weekly" async></script>
    <link href="~/otherfiles/assets/plugins/datatables.net-bs5/css/dataTables.bootstrap5.min.css?@DateTime.Now.Ticks" rel="stylesheet" />
    <link href="~/otherfiles/assets/plugins/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" />
    <link href="~/otherfiles/assets/plugins/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet" />
    <script src="~/otherfiles/assets/plugins/datatables.net/js/jquery.dataTables.min.js?@DateTime.Now.Ticks"></script>
    <script src="~/otherfiles/assets/plugins/datatables.net-bs5/js/dataTables.bootstrap5.min.js?@DateTime.Now.Ticks"></script>
    <script src="~/otherfiles/assets/plugins/datatables.net-responsive/js/dataTables.responsive.min.js?@DateTime.Now.Ticks"></script>
    <script src="~/otherfiles/assets/plugins/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js?@DateTime.Now.Ticks"></script>
    <script src="~/otherfiles/assets/plugins/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/otherfiles/assets/plugins/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
    <script src="~/otherfiles/assets/plugins/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/otherfiles/assets/plugins/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/otherfiles/assets/plugins/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/otherfiles/assets/plugins/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/otherfiles/assets/plugins/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/otherfiles/assets/plugins/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/otherfiles/assets/plugins/jszip/dist/jszip.min.js"></script>
    <link href="~/otherfiles/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
    <script src="~/otherfiles/assets/plugins/select2/dist/js/select2.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
    <script src="~/js/DeviceTransaction.js?@DateTime.Now.Ticks"></script>


    <script>
                // initialize manually with a list of links

    </script>



}