@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from seantheme.com/color-admin/admin/html/login_v2.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 27 Oct 2021 04:53:00 GMT -->
<head>
    <meta charset="utf-8" />
    <title>Login | Device Management</title>
    <link rel="icon" type="image/x-icon" href="~/otherfiles/assets/img/logo/favicon.ico" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="/otherfiles/assets/css/vendor.min.css" rel="stylesheet" />
    <link href="/otherfiles/assets/css/default/app.min.css" rel="stylesheet" />

</head>
<body class='pace-top'>

    <div id="loader" class="app-loader">
        <span class="spinner"></span>
    </div>


    <div id="app" class="app">

        <div class="login login-v2 fw-bold">

            <div class="login-cover">
                <div class="login-cover-img" style="background-image: url(/otherfiles/assets/img/login-bg/login-bg-17.jpg)" data-id="login-cover-image"></div>
                @* <div class="login-cover-bg"></div>*@
            </div>


            <div class="login-container">

                <div class="login-header">
                    <div class="brand">
                        <div style="padding-left:72px" class="d-flex align-items-center">
                            <img height="200px" src="~/otherfiles/assets/img/logo/logo.png" />
                        </div>
                        <br />
                        <small>Login To Your Account</small>
                        @if (ViewBag.msg != "")
                        {
                            <span class="bg-danger" style="font-size:0.7em;">INVALID LOGIN OR PASSWORD</span>
                        }
                    </div>
                   
                </div>

                <div class="login-content">
                        <form action="/Login/Index" method="post">
                            <div class="form-floating mb-20px">
                                <input required="" type="text" class="form-control fs-13px h-45px border-0" placeholder="Email Address" name="loginId" id="emailAddress" />
                                <label for="emailAddress" class="d-flex align-items-center text-gray-600 fs-13px">Login Id</label>
                            </div>
                            <div class="form-floating mb-20px">
                                <input required="" name="password" type="password" class="form-control fs-13px h-45px border-0" placeholder="Password" />
                                <label for="emailAddress" class="d-flex align-items-center text-gray-600 fs-13px">Password</label>
                            </div>

                            <div class="mb-20px">
                                <button type="submit" class="btn btn-success d-block w-100 h-45px btn-lg">Sign In</button>
                            </div>

                        </form>
                </div>

            </div>

        </div>


        <div class="login-bg-list clearfix">
            <div class="login-bg-list-item active"><a href="javascript:;" class="login-bg-list-link" data-toggle="login-change-bg" data-img="../otherfiles/assets/img/login-bg/Mondlezpic7.jpg" style="background-image: url(../otherfiles/assets/img/login-bg/Mondlezpic7.jpg) "></a></div>
            <div class="login-bg-list-item"><a href="javascript:;" class="login-bg-list-link" data-toggle="login-change-bg" data-img="../otherfiles/assets/img/login-bg/login-bg-18.jpg" style="background-image: url(../otherfiles/assets/img/login-bg/login-bg-18.jpg)"></a></div>
            <div class="login-bg-list-item"><a href="javascript:;" class="login-bg-list-link" data-toggle="login-change-bg" data-img="../otherfiles/assets/img/login-bg/login-bg-19.jpg" style="background-image: url(../otherfiles/assets/img/login-bg/login-bg-19.jpg)"></a></div>
            <div class="login-bg-list-item"><a href="javascript:;" class="login-bg-list-link" data-toggle="login-change-bg" data-img="../otherfiles/assets/img/login-bg/login-bg-20.jpg" style="background-image: url(../otherfiles/assets/img/login-bg/login-bg-20.jpg)"></a></div>
            <div class="login-bg-list-item"><a href="javascript:;" class="login-bg-list-link" data-toggle="login-change-bg" data-img="../otherfiles/assets/img/login-bg/login-bg-21.jpg" style="background-image: url(../otherfiles/assets/img/login-bg/login-bg-21.jpg)"></a></div>
            <div class="login-bg-list-item"><a href="javascript:;" class="login-bg-list-link" data-toggle="login-change-bg" data-img="../otherfiles/assets/img/login-bg/login-bg-22.jpg" style="background-image: url(../otherfiles/assets/img/login-bg/login-bg-22.jpg)"></a></div>
        </div>

    </div>
    

    <script src="/otherfiles/assets/js/vendor.min.js" type="972816a7fa19455ce97b35d7-text/javascript"></script>
    <script src="/otherfiles/assets/js/app.min.js" type="972816a7fa19455ce97b35d7-text/javascript"></script>
    <script src="/otherfiles/assets/js/theme/default.min.js" type="972816a7fa19455ce97b35d7-text/javascript"></script>
    <script src="~/otherfiles/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>

    <script src="/otherfiles/assets/js/demo/login-v2.demo.js" type="972816a7fa19455ce97b35d7-text/javascript"></script>

   
    <script src="/otherfiles/assets/extplugins/rocket-loader.min.js" data-cf-settings="972816a7fa19455ce97b35d7-|49" defer=""></script>
    
</body>

<!-- Mirrored from seantheme.com/color-admin/admin/html/login_v2.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 27 Oct 2021 04:53:08 GMT -->
</html>
